<div class="container">
  <h3>
    The BitCannon Project
  </h3>
  <p>
    <a href="http://bitcannon.io/">Visit bitcannon.io for more info</a>
  </p>
  <p>
    The goal of BitCannon is to provide the tools to easily aggregate the content of many torrent sites into an easily browse-able format.
    <br>
    <br>BitCannon aims to be as user friendly as possible while still providing robustness and the features you would expect. We hope the average user will use BitCannon to keep personal bittorrent archives, but we strive to produce code that can stand up
    to running a public mirror as well.
  </p>
  <h3>
    How To Use
  </h3>
  <p>
    Using BitCannon is simple. There is a search box on the front page that allows you to search for torrents that have been loaded into the database. You may also find torrents using the browse tab. The torrent decsription page contains torrent details and
    a magnet link, which will open your torrent client for downloading.
    <br>
  </p>
</div>
