<div class="container">
  <h3>{{torrent.Title}}</h3>
  <div class="row">
    <div class="col-md-8">
      <h4>Torrent Details</h4>
      <ul class="list-group">
        <li class="list-group-item">
          Import Date
          <span class="label label-default pull-right" am-time-ago="torrent.Imported"></span>
        </li>
        <li class="list-group-item">
          Category
          <span class="label label-default pull-right">{{torrent.Category}}</span>
        </li>
        <li class="list-group-item">
          File Size
          <span class="label label-default pull-right">{{torrent.Size}} bytes</span>
        </li>
      </ul>
      <a href="magnet:?xt=urn:btih:{{torrent.Btih + magnetTrackers}}" class="btn btn-success" style="width: 100%;" role="button">Download!</a>
    </div>
    <div class="col-md-4">
      <h4>Tracker Stats</h4>
      <ul class="list-group">
        <li class="list-group-item">
          Seeders
          <span class="label label-success pull-right">{{torrent.Swarm.Seeders}}</span>
        </li>
        <li class="list-group-item">
          Leechers
          <span class="label label-danger pull-right">{{torrent.Swarm.Leechers}}</span>
        </li>
        <li class="list-group-item">
          Last Updated
          <span class="label label-default pull-right" am-time-ago="torrent.Lastmod"></span>
        </li>
      </ul>
      <a ng-click="refresh()" class="btn btn-info animate-slide-container" style="width: 100%;" ng-class="{disabled: refreshing}" ng-switch="refreshing">
        <span ng-switch-when="true" class="animate-slide"><i class="fa fa-refresh fa-spin"></i></span>
        <span ng-switch-default="" class="animate-slide">Refresh Trackers</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Sources</h4>
      <ul class="list-group">
        <li ng-repeat="source in torrent.Details" class="list-group-item">
          <a ng-href="{{source}}">{{source}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
