<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootswatch-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="bitCannonApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="index">BitCannon</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="browse">Browse</a></li>
            <li ui-sref-active="active"><a ui-sref="about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#" data-toggle="modal" data-target="#settingsModal">Settings <span class="caret"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

      <div class="container" ng-if="message" ng-cloak>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" aria-label="Close" ng-click="clearMessage()"><span aria-hidden="true">&times;</span></button>
          <strong>Warning:</strong> {{message}}
        </div>
      </div>

      <div ui-view="" ng-controller="MainCtrl"></div>

      <div class="footer text-center">
        <p>&copy; BitCannon Contributors</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-11112737-6');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootswatch-dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/search.js"></script>
        <script src="scripts/controllers/torrent.js"></script>
        <script src="scripts/controllers/browse.js"></script>
        <script src="scripts/controllers/browsesearch.js"></script>
        <script src="scripts/controllers/settings.js"></script>
        <!-- endbuild -->

    <div class="modal fade" id="settingsModal" ng-controller="SettingsCtrl">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Application Settings</h4>
          </div>
          <div class="modal-body">
            <p>API URL:
              <input class="form-control" ng-model="apiBox" type="search"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" ng-click="resetAPI()">Reset to default</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearAPIBox()">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveAPI()">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</body>
</html>
